<div class="container">
	<div class="show-article-wrapper">
		<div class="article-details">
			<p>
			  <strong>Title:</strong>
			  <%= @article.title %>
			</p>
			 
			<p>
			  <strong>Text:</strong>
			  <%= @article.text %>
			</p>
		</div>
		<div class="article-links">
			<%= link_to 'Edit', edit_article_path(@article) %>
			<span> | </span>
			<%= link_to 'Back', articles_path %>
		</div>
	</div>
</div>